/* ---------- RESET ---------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
input {
  margin: 0;
  padding: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 100%;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style-type: none;
}
input,
textarea {
  outline: none;
}
strong {
  font-weight: bold;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.clear {
  clear: both;
}
a {
  text-decoration: none;
}
p a,
span a,
h5 a {
  color: #4599c8;
}
p a:hover,
span a:hover,
h5 a:hover {
  color: #2b3039;
}
/* ---------- PARAMETRIC MIXINS ---------- */
.unselectable {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
/* VARIABLES */
/* ---------- General ---------- */
body {
  background-color: #f3f3f4;
}
#loading {
  display: none;
  position: absolute;
  top: 15%;
  left: 48%;
  z-index: 999;
}
.order-summary {
  margin-bottom: 60px;
  float: right;
}
.order-summary .item {
  margin-bottom: 5px;
  overflow: hidden;
}
.order-summary .item .value {
  text-align: right;
}
.order-summary .item .value input {
  text-align: right;
}
.order-summary .item .value:before {
  /*content: '$';
				position: absolute;
				left:0;*/
}
.order-summary hr {
  background-color: #1ab394;
  padding: 1px;
}
table .remove-order-detail {
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  color: #1ab394;
  width: 30px;
}
table .unitprice,
table .unittotal {
  max-width: 100px;
}
table .unitprice input[type='text'],
table .unittotal input[type='text'] {
  text-align: right;
}
table .quantity,
table .discount {
  max-width: 100px;
  min-width: 50px;
}
table .sku {
  max-width: 100px;
}
.navbar-default li {
  background-color: #2f4050;
}
.shipping-field {
  display: none;
}
.add-customer-container {
  overflow: hidden;
  margin-bottom: 20px;
}
.search-results {
  display: none;
}
/* ---------- lg ---------- */
/* ---------- md ---------- */
/* ---------- sm ---------- */
